@using EventCaveWeb.Models
@using EventCaveWeb.Utils
@model EventCaveWeb.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Event cave | The last event catalogue you'll ever need";
}
<section class="jumbotron d-flex align-items-center justify-content-center position-relative rounded-0 mb-0 ec-showcase" style="background-image: url(/Assets/images/showcase.jpg)">
    <div class="container">
        <h1 class="display-4 mb-4 font-weight-bold text-white text-shadow">
            Feeling bored?
        </h1>
        @using (@Html.BeginForm("Search", "Events", FormMethod.Get))
        {
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="bg-white p-3 rounded">
                <div class="form-row">
                    <div class="col-xl-3 form-group mb-xl-0 ec-showcase-form-group">
                        @Html.TextBoxFor(model => model.Keyword, new { @class = "form-control border-0 mb-xl-0 rounded-0 ec-showcase-form-control", @placeholder = "What are you loooking for?" })
                    </div>
                    <div class="col-xl-3 form-group mb-xl-0 ec-showcase-form-group">
                        @Html.TextBoxFor(model => model.Location, new { @class = "form-control border-0 mb-xl-0 rounded-0 ec-showcase-form-control", @placeholder = "Location" })
                    </div>
                    <div class="col-xl-2 form-group mb-xl-0 ec-showcase-form-group">
                        @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control border-0 mb-xl-0 rounded-0 ec-showcase-form-control", @placeholder = "When?" } })
                    </div>
                    <div class="col-xl-2 form-group mb-xl-0 ec-showcase-form-group">    
                        @Html.ListBoxFor(model => model.SelectedCategoryIds, new SelectList(Model.Categories, "Id", "Name"), new { @class = "form-control" })
                    </div>
                    <div class="col-xl-2 form-group mb-0 ec-showcase-form-group">
                        <button class="btn btn-block btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<section class="py-5">
    <div class="container">
        @Html.Partial(
            "~/Views/Shared/Partials/Title.cshtml",
            new ViewDataDictionary
            {
                { "Title", "Explore categories" },
                { "ActionTitle", "See all" },
                { "ActionUrl", Url.Action("Index", "Categories") }
            }
        )
        <div class="row">
            @foreach (Category category in Model.Categories.Take(4))
            {
                <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    @Html.Partial(
                        "~/Views/Shared/Partials/Category.cshtml",
                        new ViewDataDictionary
                        {
                            { "Url", Url.Action("Search", "Events", new { SelectedCategoryIds = category.Id }) },
                            { "ImageUrl", category.Image },
                            { "Title", category.Name },
                            { "Description", category.Description }
                        }
                    )
                </div>
            }
        </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container">
        @Html.Partial(
            "~/Views/Shared/Partials/Title.cshtml",
            new ViewDataDictionary
            {
                { "Title", "Random events" },
                { "ActionTitle", "See more" },
                { "ActionUrl", Url.Action("Search", "Events") }
            }
        )
        <div class="row">
            @foreach (var @event in Model.RandomEvents)
            {
                string imageLink = "https://www.softwarearge.com/wp-content/uploads/2018/09/no-image-icon-6.png";
                if (@event.Images != null)
                {
                    imageLink = Imgur.Instance.GetAlbumImages(@event.Images)[0].Link ?? "https://www.softwarearge.com/wp-content/uploads/2018/09/no-image-icon-6.png";
                }

                <div class="col-md-6 col-lg-3 mb-3">
                    @Html.Partial(
                        "~/Views/Shared/Partials/Event.cshtml",
                        new ViewDataDictionary
                        {
                            { "Id", @event.Id },
                            { "ImageUrl", @event.Images != null ? Imgur.Instance.GetAlbumImages(@event.Images)[0].Link : null },
                            { "Title", @event.Name },
                            { "Categories", @event.Categories },
                            { "Date", @event.Datetime },
                            { "Count", @event.Attendees.Count },
                            { "Address", @event.Location }
                        }
                    )
                </div>
            }
        </div>
    </div>
</section>
