@model EventCaveWeb.ViewModels.EventDetailViewModel
@{
    ViewBag.Title = $"{Model.Name} | Event Cave";
}
<section>
    <div data-slider>
        @foreach (var Image in Model.Images)
        {
            <img src="@String.Format("https://images.weserv.nl?url={0}&w=569&h=320&fit=cover", Image.Link)"
                 alt="slider-image"
                 data-src="@Image.Link"
                 data-fancybox="@Model.Name"
                 data-slider-image />
        }
    </div>
    <div class="container py-5">
        <!-- Title -->
        @Html.Partial(
            "~/Views/Shared/Partials/Title.cshtml",
            new ViewDataDictionary {
                { "Title", Model.Name },
                { "ActionTitle", User.Identity.IsAuthenticated ? "Edit event" : null },
                { "ActionUrl", User.Identity.IsAuthenticated ? Url.Action("Edit", "Events", new { id = Model.Id }) : null }
            }
        )
        <!-- Categories -->
        <div class="mb-3">
            @foreach (var Category in @Model.Categories)
            {
                <span class="badge badge-primary">@Category.Name</span>
            }
        </div>
        <!-- Event info -->
        <div>
            <ul class="list-unstyled text-muted">
                <li class="mb-2">
                    <i data-feather="calendar" class="text-danger mr-2"></i>
                    <span>@Model.Datetime</span>
                </li>
                @if (@Model.AttendeeCount == 1)
                {
                    <li class="mb-2">
                        <i data-feather="users" class="text-danger mr-2"></i>
                        <span>@Model.AttendeeCount person attending</span>
                    </li>
                }
                else
                {
                    <li class="mb-2">
                        <i data-feather="users" class="text-danger mr-2"></i>
                        <span>@Model.AttendeeCount people attending</span>
                    </li>
                }
                @if (@Model.Limit > 0)
                {
                    <li class="mb-2">
                        <i data-feather="target" class="text-danger mr-2"></i>
                        <span>@Model.SpacesLeft places left</span>
                    </li>
                }

            </ul>
        </div>
        <!-- Actions -->
        <div class="btn-group">
            @if (@Model.Going)
            {
                <a class="btn btn-primary d-none d-md-inline-block font-weight-bold"
                   href="@Url.Action("Unattend", "Events", new { id = @Model.Id })">Unattend event</a>
            }
            else
            {
                <a class="btn btn-primary d-none d-md-inline-block font-weight-bold"
                   href="@Url.Action("Attend", "Events", new { id = @Model.Id })">Attend event</a>
            }
        </div>
        <hr />
        <!-- Description -->
        @Html.Partial(
            "~/Views/Shared/Partials/Title.cshtml",
            new ViewDataDictionary {
                { "Title", "Description"},
                { "ActionTitle", "Back to top" },
                { "ActionUrl", "#top" }
            }
        )
        <div>
            @Model.Description
        </div>
        <hr />
        <!-- Hosted by -->
        <div>
            @Html.Partial(
                "~/Views/Shared/Partials/Title.cshtml",
                new ViewDataDictionary {
                    { "Title", "Hosted by"},
                    { "ActionTitle", "Back to top" },
                    { "ActionUrl", "#top" }
                }
            )
            <div class="media">
                <img src="https://images.weserv.nl?url=https://images.pexels.com/photos/372042/pexels-photo-372042.jpeg&h=92&w=92&fit=cover"
                     alt="Jack London"
                     class="rounded-circle mr-4" />
                <div class="media-body">
                    <span class="font-weight-bolder">@Model.Host.FirstName @Model.Host.LastName</span>
                    <p class="mb-0 text-muted">
                        <small>
                            @Model.Host.Bio
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

