@model EventCaveWeb.ViewModels.EventDetailViewModel
@{
    ViewBag.Title = $"{Model.Name} | Event Cave";
}
<section>
    <div data-slider>
        @foreach (var Image in Model.Images)
        {
            <img src="@String.Format("https://images.weserv.nl?url={0}&w=569&h=320&fit=cover", Image.Link)"
                 alt="slider-image"
                 data-src="@Image.Link"
                 data-fancybox="@Model.Name"
                 data-slider-image />
        }
    </div>
    <div class="container py-5">
        <!-- Title -->
        @Html.Partial(
            "~/Views/Shared/Partials/Title.cshtml",
            new ViewDataDictionary {
                { "Title", Model.Name },
                { "ActionTitle", User.Identity.IsAuthenticated ? "Edit event" : null },
                { "ActionUrl", User.Identity.IsAuthenticated ? Url.Action("Edit", "Events", new { id = Model.Id }) : null }
            }
        )
        <!-- Categories -->
        <div class="mb-3">
            @foreach (var Category in @Model.Categories)
            {
                <span class="badge badge-primary">@Category.Name</span>
            }
        </div>
        <!-- Event info -->
        <div>
            <ul class="list-unstyled text-muted">
                <li class="mb-2">
                    <i data-feather="map" class="text-danger mr-2"></i>
                    <span>@Model.Location</span>
                </li>
                <li class="mb-2">
                    <i data-feather="calendar" class="text-danger mr-2"></i>
                    <span>@Model.Datetime</span>
                </li>
                <li class="mb-2">
                    <i data-feather="users" class="text-danger mr-2"></i>
                    <span>@Model.AttendeeCount @(Model.AttendeeCount == 1 ? "person" : "people") attending</span>
                </li>
                @if (@Model.Limit > 0)
                {
                    <li class="mb-2">
                        <i data-feather="target" class="text-danger mr-2"></i>
                        <span>@(Model.Limit == 0 ? "Unlimited spaces" : $"{Model.SpacesLeft} places left")</span>
                    </li>
                }
            </ul>
        </div>
        <!-- Actions -->
        @if (!User.Identity.Name.Equals(Model.Host.UserName))
        {
            <a class="btn btn-primary" href="@Url.Action(Model.Going ? "Unattend" : "Attend", "Events", new { id = @Model.Id })">
                @(Model.Going ? "Unattend" : "Attend") event
            </a>
        }
        <hr />
        <!-- Description -->
        @Html.Partial(
            "~/Views/Shared/Partials/Title.cshtml",
            new ViewDataDictionary {
                { "Title", "Description"},
                { "ActionTitle", "Back to top" },
                { "ActionUrl", "#top" }
            }
        )
        <div>
            @Model.Description
        </div>
        <hr />
        <!-- Hosted by -->
        <div>
            @Html.Partial(
                "~/Views/Shared/Partials/Title.cshtml",
                new ViewDataDictionary {
                    { "Title", "Hosted by"},
                    { "ActionTitle", "Back to top" },
                    { "ActionUrl", "#top" }
                }
            )
            <div class="media">
                <a href="@Url.Action("UserProfile", "Users", new { username = Model.Host.UserName })">
                    <img src="@String.Format("https://images.weserv.nl?url={0}&h=192&w=192&fit=cover&output=gif&n=-1", Model.HostPicture.Link)"
                         alt="@Model.Host.UserName"
                         class="rounded-circle mr-4" />
                </a>
                <div class="media-body">
                    <a href="@Url.Action("UserProfile", "Users", new { username = Model.Host.UserName })">
                        <h5 class="font-weight-bolder">@Model.Host.FirstName @Model.Host.LastName</h5>
                    </a>
                    <p class="mb-0 text-muted">
                        @Model.Host.Bio
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

