@using EventCaveWeb.Utils
@model  IEnumerable<EventCaveWeb.Models.Event>
@{
    ViewBag.Title = "Search results | Event Cave";
}

<section class="py-5">
    <div class="container">
        @Html.Partial(
            "~/Views/Shared/Partials/Title.cshtml",
            new ViewDataDictionary
            {
                { "Title", $"Here is your search result" },
                { "ActionTitle", "Adjust your search criteria"  },
                { "ActionUrl", Url.Action("Index", "Home") }
            }
        )
        <div class="row">
            @foreach (var @event in Model)
            {
                string imageLink = "https://www.softwarearge.com/wp-content/uploads/2018/09/no-image-icon-6.png";
                if (@event.Images != null)
                {
                    imageLink = Imgur.Instance.GetAlbumImages(@event.Images)[0].Link ?? "https://www.softwarearge.com/wp-content/uploads/2018/09/no-image-icon-6.png";
                }

                <div class="col-md-6 col-lg-3 mb-3">
                    @Html.Partial(
                        "~/Views/Shared/Partials/Event.cshtml",
                        new ViewDataDictionary
                        {
                            { "Id", @event.Id },
                            { "ImageUrl", imageLink },
                            { "Title", @event.Name },
                            { "Categories", @event.Categories },
                            { "Date", @event.Datetime },
                            { "Count", @event.Attendees.Count },
                            { "Address", @event.Location }
                        }
                    )
                </div>
            }
        </div>
    </div>
</section>
