@model EventCaveWeb.ViewModels.CreateUpdateEventViewModel

<h2>Create</h2>

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-group" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { @class = "form-group" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Location)
        @Html.TextAreaFor(model => model.Location, new { @class = "form-group" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Datetime)
        @Html.TextBoxFor(model => model.Datetime, new { @class = "form-group" })
    </div>
    <div class="form-check">
        @Html.CheckBoxFor(model => model.Public, new { @class = "form-check-input" })
        @Html.LabelFor(model => model.Public, new { @class = "form-check-label" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Limit)
        @Html.TextBoxFor(model => model.Limit, new { @class = "form-group" })
    </div>
    <button type="submit">Create</button>
}