@using Microsoft.AspNet.Identity
@using EventCaveWeb.Utils
@model EventCaveWeb.ViewModels.DetailUserProfileViewModel
@{
    ViewBag.Title = "Profile | Event Cave";
}
<section class="py-5">
    <div class="container">
        <!-- User -->
        <div class="media">
            <img src="@String.Format("https://images.weserv.nl?url={0}&h=192&w=192&fit=cover&output=gif&n=-1", Model.Picture.Link)"
                 alt="@Model.UserName"
                 class="rounded mr-4" />
            <div class="media-body">
                <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center mb-4">
                    <h1 class="mb-0 font-weight-bold">
                        @Html.DisplayFor(model => model.UserName)
                    </h1>
                    @if (User.Identity.Name.Equals(Model.UserName))
                    {
                        <a href="@Url.Action("Edit", "Users", new { username = User.Identity.Name })" class="text-muted">
                            <small>Edit profile</small>
                        </a>
                    }

                </div>
                <ul class="list-unstyled text-muted">
                    <li class="mb-2">
                        <i data-feather="calendar" class="text-danger mr-2"></i>
                        <span>Member since @Model.RegisteredAt</span>
                    </li>
                    <li class="mb-2">
                        <i data-feather="calendar" class="text-danger mr-2"></i>
                        <span>Hosted 52 events</span>
                    </li>
                </ul>
            </div>
        </div>
        <hr />
        <!-- Description -->
        <div>
            @Html.Partial(
                "~/Views/Shared/Partials/Title.cshtml",
                new ViewDataDictionary
                {
                    { "Title", "Description" },
                    { "ActionTitle", "Back to top" },
                    { "ActionUrl", "#top" }
                }
            )
            <p class="text-muted font-weight-light">
                @Html.DisplayFor(model => model.Bio)
            </p>
        </div>
        <hr />
        <!-- Hosted Events -->
        <section>
            <div>
                @Html.Partial(
                    "~/Views/Shared/Partials/Title.cshtml",
                    new ViewDataDictionary
                    {
                        { "Title", "Hosted events" },
                        { "ActionTitle", "Back to top" },
                        { "ActionUrl", "#top" }
                    }
                )
                <div class="row">
                    @foreach (var @event in Model.HostedEvents)
                    {
                        string imageLink = "https://www.softwarearge.com/wp-content/uploads/2018/09/no-image-icon-6.png";
                        if (@event.Images != null)
                        {
                            imageLink = Imgur.Instance.GetAlbumImages(@event.Images)[0].Link ?? "https://www.softwarearge.com/wp-content/uploads/2018/09/no-image-icon-6.png";
                        }

                        <div class="col-md-6 col-lg-3 mb-3">
                            @Html.Partial(
                                "~/Views/Shared/Partials/Event.cshtml",
                                new ViewDataDictionary
                                {
                                    { "Id", @event.Id },
                                    { "ImageUrl", imageLink },
                                    { "Title", @event.Name },
                                    { "Categories", @event.Categories },
                                    { "Date", @event.Datetime },
                                    { "Count", @event.Attendees.Count },
                                    { "Address", @event.Location }
                                }
                            )
                        </div>
                    }
                </div>
            </div>
        </section>
        <hr>
        <div>
            @Html.Partial(
                "~/Views/Shared/Partials/Title.cshtml",
                new ViewDataDictionary
                {
                    { "Title", "Events I am attending" },
                    { "ActionTitle", "Back to top" },
                    { "ActionUrl", "#top" }
                }
            )
            <div class="row">
                @foreach (var @event in Model.EventsEnrolledIn)
                {
                    string imageLink = "https://www.softwarearge.com/wp-content/uploads/2018/09/no-image-icon-6.png";
                    if (@event.Images != null)
                    {
                        imageLink = Imgur.Instance.GetAlbumImages(@event.Images)[0].Link ?? "https://www.softwarearge.com/wp-content/uploads/2018/09/no-image-icon-6.png";
                    }

                    <div class="col-md-6 col-lg-3 mb-3">
                        @Html.Partial(
                            "~/Views/Shared/Partials/Event.cshtml",
                            new ViewDataDictionary
                            {
                                { "Id", @event.Id },
                                { "ImageUrl", imageLink },
                                { "Title", @event.Name },
                                { "Categories", @event.Categories },
                                { "Date", @event.Datetime },
                                { "Count", @event.Attendees.Count },
                                { "Address", @event.Location }
                            }
                        )
                    </div>
                }
            </div>
        </div>
    </div>
</section>